.container {
    width: 320px;
    padding: 12px;
}

/* vertically center .container */
body {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* -------------------- Button styling ---------------------------*/

button {
    width: 65px;
    height: 65px;
    font-family: 'Inconsolata', monospace;
    font-size: 30px !important;
}

/* -----------------------------------------------------------------*/

#display1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 300 !important;
    font-size: 20px !important;
    height: 50px;
}

#display2 {
    font-family: 'Inconsolata', monospace;
    font-weight: 500 !important;
    font-size: 35px !important;
    height: 50px;
}

.button-row {
    margin-top: 12px;
}

form {
    width: 294px;
    border-radius: .25rem;
}

form input {
    background-color: inherit;
    border: none;
    width: 294px;
    margin: 0 auto;
    display: block;
}

/*--------------------------------- Colors ---------------------------------*/

.container-light {
    background-color: #cfd8dc;
    border: 1px solid #cfd8dc;
}

/*----------------------------*/

.form-light {
    background-color: #eceff1;
    box-shadow: 0 0 0 0.1rem rgba(176, 190, 197, .5);
}

.form-input-light {
    color: #263238;
}

/*----------------------------*/

.operand-group-light {
    background-color: #90a4ae;
    border-color: #90a4ae;
    color: black;
}

.operand-group-light:hover {
    background-color: #78909c;
    border-color: #607d8b;
}

.operand-group-light:active {
    background-color: #607d8b;
    border-color: #607d8b;
    box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, .5);
}

.operand-group-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, .5);
}

/*----------------------------*/

.operator-group-light {
    background-color: #546e7a;
    border-color: #546e7a;
    color: #ffffff;
}

.operator-group-light:hover {
    background-color: #455a64;
    border-color: #37474f;
}

.operator-group-light:active {
    background-color: #37474f;
    border-color: #37474f;
    box-shadow: 0 0 0 0.2rem rgba(84, 110, 122, .5);
}

.operator-group-light:focus {
    box-shadow: 0 0 0 0.2rem rgba(84, 110, 122, .5);
}

/*----------------------------*/

.clearing-group-light {
    color: white !important;
}

/*----------------------------*/

.equal-light {
    color: white !important;
}

/*==================================================================================*/

.container-dark {
    background-color: #37474f;
    border: 1px solid #37474f;
}

/*----------------------------*/

.form-dark {
    background-color: #263238;
    box-shadow: 0 0 0 0.1rem rgba(69, 90, 100, .5);
}

.form-input-dark {
    color: #eceff1;
}

/*----------------------------*/

.operand-group-dark {
    background-color: #546E7a;
    border-color: #546E7a;
    color: #ffffff;
}

.operand-group-dark:hover {
    background-color: #607d8b;
    border-color: #78909c;
}

.operand-group-dark:active {
    background-color: ##78909c;
    border-color: ##78909c;
    box-shadow: 0 0 0 0.2rem rgba(84, 110, 122, .5);
}

.operand-group-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(84, 110, 122, .5);
}

/*----------------------------*/

.operator-group-dark {
    background-color: #90a4ae;
    border-color: #90a4ae;
    color: black;
}

.operator-group-dark:hover {
    background-color: #b0bec5;
    border-color: #cfd8dc;
}

.operator-group-dark:active {
    background-color: #cfd8dc;
    border-color: #cfd8dc;
    box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, .5);
}

.operator-group-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(144, 164, 174, .5);
}

/*----------------------------*/

.clearing-group-dark {
    color: black !important;
}

/*----------------------------*/

.equal-dark {
    color: black !important;
}

/*----------------------------- Rounded switch -----------------------------*/

.switch input {
    display: none;
}

.switch {
    position: relative;
    width: 30px;
    height: 17px;
    display: inline-block;
    margin-bottom: 5px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: .4s;
    border-radius: 50px;
    background-color: #263238;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    background-color: #263238;
}

input:not(:checked) + .slider:before {
    background-color: #eceff1;
}

input:checked + .slider {
  background-color: #eceff1;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eceff1;
}

input:checked + .slider:before {
  transform: translateX(13px);
}